<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Price</th>
      <th>Photo</th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <td><%= @service.title %></td>
      <td><%= @service.description %></td>
      <td><%= @service.price %></td>
      <td><%= image_tag @service.photo %></td>
    </tr>
  </tbody>
</table>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Back', services_path %>
